.search {
}
::placeholder {
  color: black;
}
.search > input {
  padding: 10px 8px;
  border-radius: 12px;
  border: 1px solid black;
  font-size: 1.2rem;
  max-width: 180px;
  outline: none;
  font-family: monospace;
  color: black;
}

.search > svg {
  font-size: 1.8rem;
  vertical-align: middle;
  cursor: pointer;
  margin: 0 3px;
}

.search > svg:hover {
  color: grey;
}

.search p {
  color: red;
  font-weight: bold;
  padding: 0.5rem 2rem;
  position: absolute;
}

@media (max-width: 900px) {
  .search {
    margin: auto;
  }
}

@media (max-width: 400px) {
}
