.search {
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;
  padding: 0 1rem;
}
.overlay {
  position: fixed;
  margin-top: 0;
  background: rgba(235, 235, 235, 0.8);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  z-index: 99;
}
body {
  /* background: rgb(84, 235, 240); */
  background-image: url("./assets/images/starfall.gif");
  background-repeat: no-repeat;
  background-size: cover;
}

* {
  color: white;
}
